In [ ]:
# Fetching property data via Domain API

In [2]:
# Import libraries and dependencies
import os
import pandas as pd
import requests
from pathlib import Path
import json
import numpy as np

In [3]:
# Load .env enviroment variables
from dotenv import load_dotenv, find_dotenv
load_dotenv()

True

In [4]:
# Set Domain API key "	api_locations_read"
domain_key = os.getenv("Domain_API")
client_id = os.getenv("Client_Id")
client_secret = os.getenv("Secret_Value")
#type(client_secret)

In [5]:
auth_url = "https://auth.domain.com.au/v1/connect/token"

In [44]:
response = requests.post(auth_url,
        data = {
        'client_id':client_id,
        'client_secret':client_secret,
        'grant_type':'client_credentials',
        'scope':"api_salesresults_read",
        'Content-Type':'text/json'}
        )
json_res = response.json()
access_token=json_res["access_token"]
#print(access_token)
auth = {'Authorization':'Bearer '+access_token}

#Running this cel with 3 different city names
#City = 'Sydney'
#City = 'Melbourne'
City = 'Brisbane'

url_detailed=f'https://api.domain.com.au/v1/salesResults/{City}'

resp = requests.get(url_detailed,headers = auth)
resp

In [45]:
resp = resp.json()
resp

{'numberListedForAuction': 103,
 'numberWithdrawn': 2,
 'numberUnreported': 2,
 'numberAuctioned': 50,
 'numberSold': 43,
 'totalSales': 37845500.0,
 'median': 1201000,
 'adjClearanceRate': 0.86,
 'auctionedDate': '2022-02-12',
 'lastModifiedDateTime': '2022-02-15T19:19:02.149+11:00'}

In [40]:
# Converting JSON to DataFrame for Sydney
df_Sydney = pd.DataFrame(resp, index= [0]).T
df_Sydney = df_Sydney.rename(columns={df_Sydney.columns[0]: 'Sydney'})
df_Sydney

                                               Sydney
numberListedForAuction                            785
numberWithdrawn                                    77
numberUnreported                                    9
numberAuctioned                                   561
numberSold                                        437
totalSales                                504968750.0
median                                        1540000
adjClearanceRate                             0.778966
auctionedDate                              2022-02-12
lastModifiedDateTime    2022-02-15T19:19:02.149+11:00

In [43]:
# Converting JSON to DataFrame for Melbourne
df_Melbourne = pd.DataFrame(resp, index= [0]).T
df_Melbourne = df_Melbourne.rename(columns={df_Melbourne.columns[0]:'Melbourne'})
df_Melbourne

                                            Melbourne
numberListedForAuction                            890
numberWithdrawn                                    58
numberUnreported                                    4
numberAuctioned                                   650
numberSold                                        455
totalSales                                388426256.0
median                                         990000
adjClearanceRate                                  0.7
auctionedDate                              2022-02-12
lastModifiedDateTime    2022-02-15T19:19:02.149+11:00

In [46]:
# Converting JSON to DataFrame for Brisbane
df_Brisbane = pd.DataFrame(resp, index= [0]).T
df_Brisbane = df_Brisbane.rename(columns={df_Brisbane.columns[0]:'Brisbane'})
df_Brisbane

                                             Brisbane
numberListedForAuction                            103
numberWithdrawn                                     2
numberUnreported                                    2
numberAuctioned                                    50
numberSold                                         43
totalSales                                 37845500.0
median                                        1201000
adjClearanceRate                                 0.86
auctionedDate                              2022-02-12
lastModifiedDateTime    2022-02-15T19:19:02.149+11:00

In [47]:
# Conctnating all 3 df together
df_combined = pd.concat([df_Sydney, df_Melbourne, df_Brisbane], axis="columns", join="inner")
df_combined

,Sydney,Melbourne,Brisbane
numberListedForAuction,785,890,103
numberWithdrawn,77,58,2
numberUnreported,9,4,2
numberAuctioned,561,650,50
numberSold,437,455,43
totalSales,504968750.0,388426256.0,37845500.0
median,1540000,990000,1201000
adjClearanceRate,0.778966,0.7,0.86
auctionedDate,2022-02-12,2022-02-12,2022-02-12
lastModifiedDateTime,2022-02-15T19:19:02.149+11:00,2022-02-15T19:19:02.149+11:00,2022-02-15T19:19:02.149+11:00